{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <header class="home-section">
        {% include "./home/layouts/_header.html.twig" %}
    </header>

    <main id="about" class="main-site">
        <article class="content-article">
            <header class="mobile-header">
                {% include "./home/layouts/_burger_menu.html.twig" %}               
            </header>
            <section class="content-section">
                <h1>HELLO</h1>
            </section>
        </article>
    </main>

    <footer>
    </footer>
{% endblock %}
