{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <header>
    </header>
    <main class="main-site">
        <section class="home-section">
            <img class="home-section-logo" src="{{ asset('build/images/logo/vdub-dev-logo.png') }}"/>
            <div class="home-section-title-container">
                <p class="home-section-title-bienvenue">Bienvenue</p>
                <p class="home-section-title-center-slash">/</p>
                <p class="home-section-title-welcome">Welcome</p>
            </div>
        </section>
    </main>
{% endblock %}
