{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <header>
    </header>
    <main class="main-site">
        <section class="home-section">
            <img class="home-section-logo" src="{{ asset('build/images/logo/vdub-dev-logo.png') }}"/>
            <div class="home-section-title-container">
                <p class="home-section-title home-section-title-bienvenue">Bienvenue</p>
                <p class="home-section-title home-section-title-center">-</p>
                <p class="home-section-title home-section-title-welcome">Welcome</p>
            </div>
            <div class="home-section-swipe-down">
                <span class="swipe-down-span"></span>
                <span class="swipe-down-span"></span>
                <span class="swipe-down-span"></span>
            </div>  
        </section>
    </main>
    <footer>
    </footer>
{% endblock %}
