{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <header class="home-section">
        {% include "./home/layouts/_header.html.twig" %}
    </header>

    <main class="main-site">
        <article id="about" class="content-article">
            <header class="mobile-header">
                {% include "./home/layouts/_burger_menu.html.twig" %}               
            </header>
            <section class="content-section">
                {% include "./home/layouts/_content_presentation.html.twig" %}
            </section>
            <section class="content-professionnal-career">
                {% include "./home/layouts/_content_professionnal_career.html.twig" %}
            </section>
            <section id="portfolio" class="content-portfolio">
                {% include "./home/layouts/_content_portfolio.html.twig" %}
            </section>
        </article>
    </main>

    <footer>
    </footer>
{% endblock %}
