@import "../_var.scss";

.home-section {
    position: relative;
    @include dimension(100%, 25%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20vh;
    gap: 6vh;
    border: 1px solid white;            // Delete after work
    .home-section-logo {
        opacity: 0;
        width: 50vw;
        transition: 0.8s;
        transition-delay: 1s;
    }
    .home-section-title-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4vw;
        .home-section-title {
            font-family: $open;
            font-size: 5vw;
            font-weight: 200;
        }
        .home-section-title-bienvenue {
            position: absolute;
            right: 60vw;
            color: $blue-color;
            transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
            transition: 1s;
            transition-delay: 2s;
        }
        .home-section-title-center {
            opacity: 0;
            color: $main-color;
            transition: 0.5s;
            transition-delay: 3.5s;
        }
        .home-section-title-welcome {
            position: absolute;
            left: 60vw;
            color: $purple-color;
            transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
            transition: 1s;
            transition-delay: 2.5s;
        }
    }
    .home-section-swipe-down {
        position: absolute;
        bottom: 20vh;
        left: 50%;
        transform: translate(-50%,-50%);
        .swipe-down-span {
            display: block;
            width: 6vw;
            height: 6vw;
            border-bottom: 2px solid $blue-color;
            border-right: 2px solid $blue-color;
            transform: rotate(45deg);
            margin: -5px;
            opacity: 0;
            animation-delay: 4s !important;
            animation: swipe-animate 2s infinite;
            transition: 0.3s;
            &:hover {
                border-bottom: 2px solid $purple-color;
                border-right: 2px solid $purple-color;
            }
        }
    }
}

.home-section-logo-display {
    opacity: 1 !important;
}

.home-section-title-bienvenue-display {
    right: 4vw !important;
}

.home-section-title-center-display {
    opacity: 1 !important;
}

.home-section-title-welcome-display {
    left: 4vw !important;
}