<div class="header-mini">
    <div class="contact-menu">
        <a href="tel:0033620909676"><img class="contact-menu-icons" src="{{ asset('build/images/icons/tel_white.png') }}" alt="Icône téléphone blanc"></a>
        <a href="mailto:contact@vdub-dev.fr"><img class="contact-menu-icons" src="{{ asset('build/images/icons/email_white.png') }}" alt="Icône mail blanc"></a>
    </div>
    <div class="logo-menu">
        <img class="logo-menu-logo" src="{{ asset('build/images/logo/vdub-dev-logo.png') }}" alt="logo blanc">
    </div>
    <div class="burger-menu" id="burger-menu">
        <span class="burger-menu-span" id="first-line"></span>
        <span class="burger-menu-span" id="not-cross"></span>
        <span class="burger-menu-span" id="third-line"></span>
    </div>
</div>
<img class="dark-menu-min" id="menu_dark" src="{{ asset('build/images/background/menu_dark.png') }}">
<nav class="hidden-menu" id="hidden-menu">
    <a class="hidden-menu-links" href="#">Accueil</a>
    <a class="hidden-menu-links" href="#">À propos</a>
    <a class="hidden-menu-links" href="#">Portfolio</a>
    <a class="hidden-menu-links" href="#">Contact</a>
</nav>