<div class="contact-title-container">
	<h1 class="contact-title-fr">Contactez moi</h1>
	<h1 class="contact-title-en">Stay in touch</h1>
</div>
<div class="contact-content">
    <form class="contact-form" onSubmit="">
        <div class="contact-form-input-container">
            <label for="" class="contact-form-label">
                Prénom
                <span class="form-slash">-</span>
                <span class="form-purple">Firstname</span>
            </label>
            <input type="" name="" class="contact-form-input" required>
        </div>
        <div class="contact-form-input-container">
            <label for="" class="contact-form-label">
                Nom
                <span class="form-slash">-</span>
                <span class="form-purple">Lastname</span>
            </label>
            <input type="" name="" class="contact-form-input" required>
        </div>
        <div class="contact-form-input-container">
            <label for="" class="contact-form-label">E-mail</label>
            <input type="" name="" class="contact-form-input" required>
        </div>
        <div class="contact-form-input-container">
            <label for="" class="contact-form-label">
                Commentaire
                <span class="form-slash">-</span>
                <span class="form-purple">Comment</span>
            </label>
            <textarea name="comment" class="contact-form-textarea" required></textarea>
        </div>
        <button type="submit" onSubmit="" class="contact-form-button">
            Envoyer - Submit
        </button>
    </form>
</div>