<img class="home-section-logo" src="{{ asset('build/images/logo/vdub-dev-logo.png') }}"/>
<div class="home-section-title-container">
    <p class="home-section-title home-section-title-bienvenue">Bienvenue</p>
    <p class="home-section-title home-section-title-center">-</p>
    <p class="home-section-title home-section-title-welcome">Welcome</p>
</div>
<a href="#about"><div class="home-section-swipe-down">
    <span class="swipe-down-span"></span>
    <span class="swipe-down-span"></span>
    <span class="swipe-down-span"></span>
</div></a>