<img class="home-section-logo" src="{{ asset('build/images/logo/vdub-dev-logo.png') }}"/>
<div class="home-section-title-container">
    <h1 class="home-section-title home-section-title-bienvenue">Bienvenue</h1>
    <h1 class="home-section-title home-section-title-center">-</h1>
    <h1 class="home-section-title home-section-title-welcome">Welcome</h1>
</div>
<a href="#about"><div class="home-section-swipe-down">
    <span class="swipe-down-span"></span>
    <span class="swipe-down-span"></span>
    <span class="swipe-down-span"></span>
</div></a>