.portfolio-title-container {
    @include dimension(95%, 10%);
    max-width: 900px;
    position: relative;
    z-index: -1;
    .portfolio-title-fr {
        @include absolutePosition(-150px, calc(10% + 2vw));
        opacity: 0;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .portfolio-title-en {
        @include absolutePositionRight(-150px, calc(10% + 2vw));
        color: $purple-color;
        opacity: 0;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}
.portfolio-content {
    position: relative;
    @include dimension(90%, auto);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    max-width: 900px;
    padding-top: 150px;
    border-radius: 10px;
    opacity: 0;
    z-index: 0;
    .portfolio-fr-flag-icon,
    .portfolio-en-flag-icon {
        cursor: pointer;
        @include absolutePositionRight(110px, 10px);
    }
    .portfolio-card-fr,
    .portfolio-card-en {
        cursor: pointer;
        overflow: hidden;
        box-sizing: border-box;
        position: relative;
        @include dimension(100%, 360px);
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 630px;
        border: 5px solid rgba(255, 255, 255, 0.2);
        border-radius: 20px;

        .portfolio-card-picture {
            height: 100%;
        }
        .portfolio-card-details {
            @include dimension(100%, 100%);
            @include absolutePosition(0, 0);
            background-color: rgba(0, 0, 0, 0.8);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 15px;
            transition: 0.3s;
            opacity: 0;
            &:hover {
                opacity: 1;
            }
            &:active {
                opacity: 1;
            }
            &:focus {
                opacity: 1;
            }
            .portfolio-card-details-title {
                padding-bottom: 5px;
            }
            .portfolio-card-details-description {
                font-size: 15px;
                text-align: justify;
                line-height: 18px;
                padding-bottom: 20px;
            }
            .portfolio-card-details-languages {
                display: flex;
                justify-content: space-around;
                align-items: space-around;
                padding-bottom: 40px;
                gap: 15px;
                .portfolio-card-details-picture {
                    height: 40px;
                }
            }
            .portfolio-card-details-button {
                background-color: rgba(255, 255, 255, 0.5);
                border: none;
                border-radius: 5px;
                padding: 5px 15px;
                font-family: $open;
                transition: 0.2s;
                &:hover {
                    background-color: rgba(114, 114, 114, 0.5);
                    color: $main-color;
                }
            }
        }
    }
}

.portfolio-title-fr-display {
    top: 10px !important;
    opacity: 1 !important;
}

.portfolio-title-en-display {
    top: 40px !important;
    opacity: 1 !important;
}

.portfolio-card-details-display {
    opacity: 1 !important;
}

@media screen and (min-width: 900px) {
    .portfolio-title-container {
        max-width: 600px !important;
    }
    .portfolio-content {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 15px !important;
        .portfolio-card-fr,
        .portfolio-card-en {
            //min-width: 380px !important;
            min-width: 398px !important;
            max-width: 440px;
    
        }
    }


}