@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');


// Keyframes
    // HOME-SECTION
@keyframes swipe-animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

// Google Fonts
$roboto: 'Roboto', sans-serif;
$open: 'Open Sans', sans-serif;

// Colors
$main-color : #CBCBCB;
$purple-color : rgb(150, 58, 135);
$blue-color : #00648a;

// Mixins
@mixin dimension($w, $h) {
    width: $w;
    height: $h;
}

@mixin absolutePosition($top, $left) {
    position : absolute;
    top: $top;
    left: $left;
}

@mixin absolutePositionRight($top, $right) {
    position : absolute;
    top: $top;
    right: $right;
}

// Default SCSS config
* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

p {
    margin-bottom: 0;
    font-family: $open;
    color: $main-color;
}

h1 {
    font-family: $roboto;
    font-weight: 200;
    color: $blue-color;
}

h2, h3, h4, h5, h6 {
    font-family: $roboto;
    color: $main-color;
}

// Default font-size
h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1.1rem;
}

p, a, label, input, textarea {
    font-size: 15px;
}

//Media queries
@media screen and (min-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.8rem;
    }
    
    h3 {
        font-size: 1.6rem;
    }
    
    h4 {
        font-size: 1.5rem;
    }
    
    h5 {
        font-size: 1.3rem;
    }
    
    h6 {
        font-size: 1.2rem;
    }
    
    p, a, label, input, textarea {
        font-size: 1rem;
    }
}

.opacity-display {
    opacity: 1 !important
}

.display-none {
    display: none !important;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 1000px) 
  and (orientation: landscape) {
    body {
        background-color: black;
        background-image: url('../images/logo/rotate-screen.gif');
        background-size: 50vh;
        background-position: center;
    }
    .rotate-screen {
        display: none;
    }
}