@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');


// Keyframes
    // HOME-SECTION
@keyframes swipe-animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

// Google Fonts
$roboto: 'Roboto', sans-serif;
$open: 'Open Sans', sans-serif;

// Colors
$main-color : #EDEDED;
$purple-color : #963A87;
$blue-color : #00648a;

// Mixins
@mixin dimension($w, $h) {
    width: $w;
    height: $h;
}

@mixin absolutePosition($top, $left) {
    position : absolute;
    top: $top;
    left: $left;
}

@mixin absolutePositionRight($top, $right) {
    position : absolute;
    top: $top;
    right: $right;
}

// Default SCSS config
* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

p {
    margin-bottom: 0;
}

h1 {
    font-family: $roboto;
    font-weight: 200;
    color: $blue-color;
}